:root {
  font-family: Poppins;
  --primary:#321450;
  --secondary:#f887ff;
  --terciary:#de004e;
  --quaternary:#860029;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} 
::-webkit-scrollbar {
  width: 10px; 
}
::-webkit-scrollbar-track {
  background: var(--secondary); 
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 6px; 
}

body {
  font-family: Poppins;
  background-color: var(--primary);
}

.logo {
  width: 100px;
}